<script>document.write('<script type="text/javascript" src="/dcmlive/static/core/ts.js?nochace='+Date.now()+ '"\><\/script>')</script> 
<style type="text/css">
	.termsheet-page{
		margin-top: 20px;
	
	}
	/*.termSheet-input span.k-dropdown-wrap.k-state-default{
		background: #4F5F79;
	}
	.termSheet-input span.k-dropdown-wrap.k-state-default span{
		color: #fff;
	}*/
	.termSheet-input .k-select > .k-icon.k-i-arrow-60-down {
		    margin-top: 0px;
	}
	/*	.termSheet-tab#Tab li{
			width: 20%;
			text-align: center;
	    	margin-bottom: 0;
	    	border-left: 1px solid #fff;
	    	background: #f5f5f5;

		}
		.termSheet-tab#Tab li a{  
			padding: 10px 13px;

			color: #000;
		}
		.termSheet-tab#Tab li:first-child { border-left: none; }
		.termSheet-tab#Tab > li.active:after{
			border: none;
		} 
		.termSheet-tab#Tab > li:after{
			border: none;
		} 
	 
		.termSheet-tab#Tab > li > a:hover, 
		.termSheet-tab#Tab > li > a:focus, 
		.termSheet-tab#Tab > li.active > a, 
		.termSheet-tab#Tab > li.active > a:hover, 
		.termSheet-tab#Tab > li.active > a:focus {
		    color: #fff;
		    background-color: #0e678d;
		    border: 1px solid transparent;
		    border-left: 1px solid #fff;
		    border-bottom: 4px solid #1e88e5;;
		}
	*/
	.termSheet-page .tab-content{
		padding: 7px;
    	margin-bottom: 10px;
	}
	.termSheet-page .footer-tab{
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.termSheet-page .content-tab{
	    min-height: 430px;
	    	}
	#termsheetTab-01 .table div{
 		margin-bottom: 1cm solid #fff;

	}
	#termsheetTab-01 .table .title{
		    width: 15%;
		position: absolute;
		left: 0px;
	    top: 0px;
	    bottom: 0px;
	}
	#termsheetTab-01 .table .title .box{

		padding: 10px;
	    display: table;
		color:#fff;
	    background: #4F5F79;
    	width: 100%;
		height: 100%;
		vertical-align: middle;
	}

	#termsheetTab-01 .table .title > div{
		display: table-cell;
	    height: 100%;
	    vertical-align: middle;
	}
	#termsheetTab-01 .table .value{
		 
		text-align: center;
		background: #F2F2F2;
	        margin-left: 14.1177%;
    	width: 87%;
    	padding: 10px;
	}
	#termsheetTab-01 .table .currency .value{
		background: #1E88E5;
		color: #fff;
		font-weight: bold;
	}
	#termsheetTab-01 .table .size .value{
		background: #DEEBF7; 
 	}
	#termsheetTab-01 .foot-btn{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#termsheetTab-01 .foot-btn .btn{
		/*padding: 8px 12px;*/
		background: #4F5F79;
		color: #fff;
	}
	table.otherTrans-table thead tr td{
		background: #005c84;
		padding: 10px;
		color: #fff;
		border: 2px solid #fff;
	}
	table.otherTrans-table tbody tr td.issuer{
		background: #2890c0;
		color: #fff;
	}
		/* 	#termSheet-02 table tr td {
 		border: 1px solid #fff;
 	}
 	#termSheet-02 table thead td{
 		padding: 10px;
 		color : #fff;
 		background: #005C84;
 	} 

 	#termSheet-02 table tbody td{
 		background: #F2F2F2;
 		padding: 10px;
 		color : #333;
 	 
 	} 
 	#termSheet-02 table tbody td.issuer{
 		background: #0075B0;
 		color: #fff;
 	}
 	#termSheet-02 table tbody td.ytm{
 		background: #E9F4E7;
 	}*/

 	#termSheet-02 table tbody td.val{
 		background: #F5F5F5; 
 	} 
 	.btn{
 		font-size: 11px;
 	}
	ul.info-charts{
		padding: 0px 5px;
		position: absolute;
		z-index: 33;
		left: 10px;
		top: 50px;
	    background: white;
	    left: 62px;
	    border: 1px solid #6C7A89;
	}
  	ul.info-charts li {
		float: none;
	    display: inline-block;
	    vertical-align: middle;
	    padding: 7px;
 	}
 	.bold{
 		font-weight: bold;
 	}
 	.title-termsheet-tab{
 		color: #0e678d;
 		font-size: 19px;
		font-weight: bold;
		padding: 12px 5px 12px 0px !important;
 	}
 	.btn-scatter-chart{
 		background: #fff;
 		border: 1px solid #e0e0e0;
 	}
 	.btn-scatter-chart-active{
 		background: #e0e0e0;
 	}
 	.label-x-scaterChart{
	 	    bottom: 15px;
	    right: 50%;
	    /* width: 33px; */
	    position: absolute;
	    z-index: 22;
 	}
</style>

<script id="instrument-termSheet-template" type="text/html">
	<div class="col-md-4">
		<span data-bind="text : $data"></span>
	</div>
</script>

<script id="currency-termSheet-template" type="text/html">
	<div data-bind="foreach : config">
		 
			<span data-bind="text: $data"></span>
 
	</div>
</script>

<script id="size-termSheet-template" type="text/html">
	<div data-bind="foreach : config"> 
			<span data-bind="text: $data"></span> 
	</div>
</script>

<script id="tenor-termSheet-template" type="text/html">
	<div data-bind="foreach : config"> 
			<span data-bind="text: $data"></span> 
	</div>
</script>


<script id="chart-termSheet-template" type="text/html">
	<div class="col-md-6 no-padding" data-bind="attr:{id : $data.id}">
		<div class="col-md-12 no-padding form-inline" > 
			<div class="form-group"  style="width: 108%" >
				<label> Tenor </label>
				<input style="width: 40%;" data-bind="kendoDropDownList : 
												{
													value 		   :  $data.tenor, 
													data   		   :  termSheet.relativeValueCharts.tenorList, 
													dataTextField  : 'text', 
													dataValueField : 'value', 
													filter 		   : 'contains'
												}"/>
			</div>
		</div>
 
		<div class="col-md-12" style="height: 330px; margin-top: 20px;">
			<div class="contentWidget">
			</div>
		</div>


		
	</div>
</script>
<script id="grid-termSheet-template" type="text/html">
	<tr>
		<td class="issuer" width="15%"><span data-bind="text : $data.Issuer"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : $data.Moodysissuerating + ' / ' +  $data.Spissuerating + ' / ' +$data.Fitchissuerrating"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : kendo.toString($data.Size,'n0')"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : kendo.toString($data.Coupon,'n0')"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : $data.Maturitydate"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : kendo.toString($data.Yearsmaturity,'n0')"></span></td>
		<td class="val" width="10%" align="center"><span data-bind="text : kendo.toString($data.Bidprice,'n1')"></span></td>
		<td class="val ytm" width="10%" align="center">
			<div data-bind="if: (createTermSheet.bidProp().key == 'Bidytm')">
				<span data-bind="text : kendo.toString( $data[createTermSheet.bidProp().key] / 100 , 'n2') + '%' "></span>
			</div>
			<div data-bind="if: (createTermSheet.bidProp().key != 'Bidytm')">
				<span data-bind="text : kendo.toString($data[createTermSheet.bidProp().key] , 'n0')"></span>
			</div>
		</td>
		<td class="val" width="10%" align="center"><span data-bind="text : kendo.toString($data.Bidgspread,'n0')"></span></td>
	</tr>
</script>

<div style="height: 0">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0" style="visibility: hidden">
    <defs>
      <linearGradient id="svg-gradient-blue" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#4183D7; stop-opacity:0.5" />
        <stop offset="100%" style="stop-color:#4183D7; stop-opacity:0.1" />
      </linearGradient>
         <linearGradient id="svg-gradient-blue2" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#1E88E5; stop-opacity:0.5" />
        <stop offset="40%" style="stop-color:#1E88E5; stop-opacity:0.3" />
      </linearGradient>
      <linearGradient id="svg-gradient-red" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#CF000F; stop-opacity:0.5" />
        <stop offset="100%" style="stop-color:#CF000F; stop-opacity:0.1" />
      </linearGradient>
    </defs>
  </svg>
</div>


<style type="text/css">
	#term_sheet-tab .period-button ul{
		 list-style:none;
	}
	#term_sheet-tab .period-button li{
		 /*list-style:none;*/
		float: none;
	    display: inline-block;
	    vertical-align: middle;
	    padding: 1px;

	}
	#term_sheet-tab .period-button  button {
	     color: #6C7A89;
   		background-color: #ECF0F1;
	}
	#term_sheet-tab .period-button  button:hover,
	#term_sheet-tab .period-button  button.active {
	    color: white;
    	background-color: #4B77BE;
	}
	#termsheetTab-01 table tr td.value{
		padding-left: 0px;
	}
	.special-td{
		padding: 0px !important;
	}
	.special-td ul {
		padding: 0px;
	}

	.special-td ul li{
		display: inline-block;
		background: #fff;
	
	
	}

	.special-td ul li .box{

		text-align: center;	
		background: #f5f5f5;
		margin-left: 2px;	
		padding: 10px;

	}
	.special-td ul li:first-child .box{	
		margin-left: 0px;
	}
/*
	.special-td div:first-child{
		margin-left: 0px;
	}*/

</style>
<div data-bind="with : termSheet" id="term_sheet-tab">
	<div class="col-md-12">
		<div class="termSheet-page" style="background: #fff; margin-bottom: 20px;">
			<div class="row">
		        <ul class="nav nav-tabs parent-tab termSheet-tab tab-custom">
		            <li class="parent-tab active">
		            	<a href="#termsheetTab-01" data-toggle="tab" id="termSheetTab1" data-bind="click : renderTs">Term Sheet</a>
		            </li>
		            <li class="parent-tab">
		            	<a href="#termSheet-04" data-toggle="tab" id="termSheetTab4"  data-bind="click : renderBondIssuenceSpreads">Scatter Chart</a>
		            </li>
		            <li class="parent-tab">
		            	<a href="#termSheet-02" data-toggle="tab" id="termSheetTab2"  data-bind="click : renderTable">Comparables</a>
		            </li>
		            <li class="parent-tab">
		            	<a href="#termSheet-03" data-toggle="tab" id="termSheetTab2"  data-bind="click : renderRelativeValueCharts">Building Blocks</a>
		            </li>
		            <li class="parent-tab">
		            	<a href="#termSheet-05" data-toggle="tab" id="termSheetTab2"  data-bind="click : renderChart">Charts</a>
		            </li>
		        </ul>
		        <div class="tab-content">
		            <div class="tab-pane active" id="termsheetTab-01" data-bind="with : ts">
	            		
	            		 
						<div class="col-md-12"> 
							<div class="title-termsheet-tab">Term Sheet Summary</div>
						</div>
		            	<div class="col-md-12">	 
			            	<div class="col-md-10 no-padding">
			            		<table class="otherTrans-table" id="tbl_termSheetSummary" width=100%> 
									
									<tr>
										<td class="title" width="20%"><span>Issuer Rating</span></td>
										<td class="value" align="center" width="25%" data-bind="attr:{ colspan : summaryTableConfig.issuerColspan() }">
										Moody's :  <span data-bind="text : issuerRating()[0]"></span> </td>
										<td class="value" align="center" width="25%" data-bind="attr:{ colspan : summaryTableConfig.issuerColspan() }">
										Fitch : <span data-bind="text : issuerRating()[1]"></span> </td>
										<td class="value" align="center" width="25%" data-bind="attr:{ colspan : summaryTableConfig.issuerColspan() }">
										S&P : <span data-bind="text : issuerRating()[2]"></span> </td>
									</tr>
									<tr>
										<td class="title"><span>Instrument</span></td>
										<td class="value" align="center" data-bind="attr:{ colspan : summaryTableConfig.defaultColspan() }">
												<span data-bind="text : instrument"></span> </td>
									</tr>
									<tr>
										<td class="title"><span>Distribution Format</span></td>
										<td class="value" align="center" data-bind="attr:{ colspan : summaryTableConfig.defaultColspan() }">	<span data-bind="text : pbFormWizard.distribution.val "></span>
										</td>
									</tr>
									<tr>
										<td class="title"><span>Currency</span></td>
										<td class="value" align="center" data-bind="attr:{ colspan : summaryTableConfig.defaultColspan() }">
											<div data-bind="template:{name:'size-termSheet-template', data: currency, as:'config'   }"> </div>
										</td>
									</tr>
									<tr>
										<td class="title"><span>Size (M)</span></td>
										<td class="value" align="center" data-bind="attr:{ colspan : summaryTableConfig.defaultColspan() }">
											<div data-bind="template:{name:'size-termSheet-template', data: size, as:'config'   }"> </div>
										</td>
									</tr>
									<tr  data-bind="template: { foreach : tenors}">
										<div data-bind="if: $index == 0">
											<td class="title"><span>Tenor (years)</span></td>
										</div>
										<td class="value special-td" data-bind="attr:{ colspan : summaryTableConfig.tenorsColspan() }" >
											<span data-bind="text: $data" ></span>
										</td>
									</tr>
									<tr  data-bind="template: { foreach : benchmarkYield}">
										<div data-bind="if: $index == 0">
											<td class="title"><span>Benchmark Yield (%)</span></td>
										</div>
										<td class="value special-td" colspan="3" >
											<span data-bind="text: $data" ></span>
										</td>


										<!-- <td class="value" colspan="3">
											<div data-bind="template:{name:'tenor-termSheet-template', data: benchmarkYield, as:'config'   }"> </div>
										</td> -->
									</tr>
									<tr data-bind="template: { foreach : benchmarkYield}">
										<div data-bind="if: $index == 0">
											<td class="title"><span>Spread to Benchmark (bps)</span></td>
										</div>
										<td class="value special-td" colspan="3" >
														<span data-bind="text: $data" ></span>
												
										</td>
										<!-- <td class="value" colspan="3">
											<div data-bind="template:{name:'tenor-termSheet-template', data: benchmarkToSpread, as:'config'   }"> </div>
										</td> -->
									</tr>
									<tr data-bind="template: { foreach : yield}">
										<div data-bind="if: $index == 0">
											<td class="title"><span>Yield (%)</span></td>
										</div>
										<td class="value special-td" colspan="3" >
										 	<span data-bind="text: $data" ></span>
											 
											<!-- <ul data-bind="template: { foreach : yield}">

												<li class="col-md-2 no-padding" data-bind="style : { width : ( 100 / $parent.yield().length ) + '%' }" >
													<div class="box"><span data-bind="text: $data" ></span></div>
												</li>
											 
											</ul>  -->
										 
										</td>

									<!-- 	<td class="value" colspan="3">
											<div data-bind="template:{name:'tenor-termSheet-template', data: yield, as:'config'   }"> </div>
										</td> -->
									</tr>
									<tr data-bind="template: { foreach : afterSwap}">
										<div data-bind="if: $index == 0">
											<td class="title"><span>After Swap to 3m $Libor (bps)</span></td>
										</div>
										<td class="value special-td" colspan="3" >
											<span data-bind="text: $data" ></span>
											<!-- <ul data-bind="template: { foreach : afterSwap}">

												<li class="col-md-2 no-padding" data-bind="style : { width : ( 100 / $parent.afterSwap().length ) + '%' }" >
													<div class="box"><span data-bind="text: $data" ></span></div>
												</li>
											 
											</ul>  -->
										 
										</td>
										<!-- <td class="value" colspan="3">
											<div data-bind="template:{name:'tenor-termSheet-template', data: afterSwap, as:'config'   }"> </div>
										</td> -->
									</tr>
								</table>
			            	</div>
						</div>
						<div class="col-md-10 ">  
							<div class="footer-tab">
								<div class="pull-left">
									<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
										Return To Comp Sheet
									</button>
								</div>
								<div class="pull-right">
									
									<button type="button" class="pull-right btn next-term-sheet next-step">
										Send To Syndicate
									</button> 
								</div>

								<div class="pull-right" style="margin-right: 15px">
			
									<button type="button" class="btn btn-prev" onclick="{ var pptx=new PptxGenJS(); pptx.addSlidesForTable('tbl_termSheetSummary'); pptx.save(); }">
										Export PPTX
									</button>
								</div>
							</div>
			            </div> 
		            </div>

		            <div class="tab-pane " id="termSheet-04" data-bind="with : bondIssuenceSpreads"> 
		            	 
		            	<div  id="scatterChartTab4">
		            		<div class="col-md-12"> 
								<div class="title-termsheet-tab">Bond Issance Spreads</div>
							</div>
			            	<div class="col-md-12">
								<div class="btn-group">
								  <button data-bind="click: function(){ return yAxis('Bidytm') },
								  					 attr : { class: ( yAxis() == 'Bidytm' ) ? 
								  					 					'btn btn-scatter-chart-active' :
								  					 					'btn btn-scatter-chart'
								  					 		 }">Bid YTM</button>
								  <button data-bind="click: function(){ return yAxis('Bidgspread') },
								  					 attr : { class: ( yAxis() == 'Bidgspread' ) ? 
								  					 					'btn btn-scatter-chart-active' : 
								  					 					'btn btn-scatter-chart'
								  					 		}">Bid Spread G</button>
								  <button  data-bind="click: function(){ return yAxis('Bidzspread') },
								  					  attr : { class: ( yAxis() == 'Bidzspread' )  ? 
								  					  					'btn btn-scatter-chart-active' : 
								  					  					'btn btn-scatter-chart'
								  					  		 }">Bid Spread Z</button>
								</div>
								<!-- <input style="width: 50%;" data-bind="kendoDropDownList : 
																		{
																			value 		   :  yAxis, 
																			data   		   :  yAxisList, 
																			dataTextField  : 'text', 
																			dataValueField : 'value', 
																			filter 		   : 'contains'
																		}"/> -->
							</div> 
							<div class="col-md-12 " style="height: 370px; margin-top: 20px;">
								<div class="label-x-scaterChart">Years To Maturity</div>
								<div class="contentWidget">
								</div>
							</div>
							<div class="col-md-12 ">  
								<div class="footer-tab">
									<div class="pull-left">
										<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
											Return To Comp Sheet
										</button>
									</div>
									<div class="pull-right">
										<button type="button" class="pull-right btn next-term-sheet next-step">
											Send To Syndicate
										</button> 
									</div>
								</div>
				            </div>
						</div>
					<!-- 	<div class="footer-tab">
							<div class="pull-left">
								<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
									Return To Comp Sheet
								</button>
							</div>
							<div class="pull-right">
								<button type="button" class="pull-right btn btn-green next-step">
									Send To Syndicate
								</button> 
							</div>
						</div> -->
				 
		            </div>
		            <div class="tab-pane" id="termSheet-02" data-bind="with : table"> 
		            	<div  id="termSheet-grid"> 
		         		   	<div class="col-md-12"> 
								<div class="title-termsheet-tab">Issuer Table</div>
							</div>
			            	<div class="col-md-12 ">  
			            		<table   class="otherTrans-table" width="100%">
			            			<thead>
			            				<tr>
			            					<td width="15%">Issuer</td>
			            					<td align="center" width="10%">Issue Rating (Moody's / S&P / Fitch)</td>
			            					<td align="center" width="10%">Issue Size (USD m)</td>
			            					<td align="center" width="10%">Coupon (%) </td>
			            					<td align="center" width="10%">Maturity</td>
			            					<td align="center" width="10%">Years to Maturity</td>
			            					<td align="center" width="10%">Trading Price (Bid)</td>
			            					<td align="center" width="10%" data-bind="text : createTermSheet.bidProp().title"></td>
			            					<td align="center" width="10%">G-Spread (bps)</td> 
			            				</tr>
			            			</thead>
		            				<tbody data-bind="template:{name:'grid-termSheet-template', foreach: dataSource }">
		            				</tbody>
				            	</table>
			             
				            	<!-- <div style="max-height: 430px; overflow: auto; " > -->
			            			 
			            	 	<!-- </div> -->
							</div>
							<div class="col-md-12 ">  
								<div class="footer-tab">
									<div class="pull-left">
										<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
											Return To Comp Sheet
										</button>
									</div>
									<div class="pull-right">
										<button type="button" class="pull-right btn next-term-sheet next-step">
											Send To Syndicate
										</button> 
									</div>
								</div> 
							</div>
						</div>
		            </div>

		            <div class="tab-pane" id="termSheet-03" data-bind="with : relativeValueCharts">
				 	 	<div class="col-md-12"> 
							<div class="title-termsheet-tab">Issuer Table</div>
						</div>
						<div class="col-md-12" >
							<div data-bind="template:{name:'chart-termSheet-template', foreach: widgets   }"> </div>
		          		</div>

						<div class="col-md-12" >
							<div class="footer-tab">
							<div class="pull-left">
								<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
									Return To Comp Sheet
								</button>
							</div>
							<div class="pull-right">
								<button type="button" class="pull-right btn next-term-sheet next-step">
									Send To Syndicate
								</button> 
							</div>
							</div>
						</div>
		            </div>

		            <div class="tab-pane" id="termSheet-05" data-bind="with : charts">
						<div class="content-tab" >
							<div class="col-md-12" data-bind="with: f">
								<div class="col-md-4 no-padding" >
									<div class="col-md-1 pdTop5">Field</div>
									<div class="col-md-11 termSheet-input">
										<input style="width: 100%;" data-bind="kendoDropDownList : 
																				{
																					value 		   : valField, 
																					data   		   : listField,   
																					dataTextField  : 'text', 
																					dataValueField : 'value', 
																					filter 		   : 'contains'
																				}"/>
									</div> 
								</div>
								<div class="col-md-4 no-padding" >
									<div class="col-md-1 pdTop5">Field</div>
									<div class="col-md-11 termSheet-input">
										<input style="width: 100%;" data-bind="kendoDropDownList : 
																				{
																					value 		   : valIsin, 
																					data   		   : listIsin,   
																					dataTextField  : 'text', 
																					dataValueField : 'value', 
																					filter 		   : 'contains'
																				}"/>
									</div>  
								</div>
						
								<div class="col-md-4 no-padding" >
									<div class="col-md-1 pdTop5">Period </div>
									<div class="col-md-11 termSheet-input">
										<ul class="pull-right period-button">
											<li><button data-bind="click: function(){ return valPeriod(1) }, attr: { class: (valPeriod() == 1) ? 'btn btn-sm active' : 'btn btn-sm'}" >1M</button></li>
											<li><button data-bind="click: function(){ return valPeriod(2) }, attr: { class:  (valPeriod() == 2) ? 'btn btn-sm active' : 'btn btn-sm' }">2M</button></li>
											<li><button data-bind="click: function(){ return valPeriod(6) }, attr: { class: (valPeriod() == 6) ? 'btn btn-sm active' : 'btn btn-sm' }">6M</button></li>
											<li><button data-bind="click: function(){ return valPeriod(12) }, attr:{ class:  (valPeriod() == 12) ? 'btn btn-sm active' : 'btn btn-sm' }">1Y</button></li>
											<li><button data-bind="click: function(){ return valPeriod(24) }, attr: { class: (valPeriod() == 24) ? 'btn btn-sm active' : 'btn btn-sm' }">2Y</button></li>
											<li><button data-bind="click: function(){ return valPeriod(60) }, attr: { class: (valPeriod() == 60) ? 'btn btn-sm active' : 'btn btn-sm' }">5Y</button></li>
											<li><button data-bind="click: function(){ return valPeriod(999) }, attr: { class: (valPeriod() == 999) ? 'btn btn-sm active' : 'btn btn-sm' }">2Y</button></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 no-padding" id="termSheet05">
								 
							 
										<ul class="info-charts" data-bind="visible: !loading()">
											<li>
												<span class="bold">Date</span>
												<br/>
												<span data-bind="text : ( termSheet.charts.infoChart().category == undefined ) ? '--' : termSheet.charts.infoChart().category"></span>
											</li>
											<li>
												<span class="bold" data-bind="text :  termSheet.charts.f.valField()"></span>
												<br/>
												<span data-bind="text : ( termSheet.charts.infoChart().value == undefined ) ? '--' : termSheet.charts.infoChart().value"></span>
											</li>
											 
										</ul>
							 
							 
								<div class="col-md-12 " style="height: 330px; margin-top: 20px;">
									<div data-bind="visible : loading()" class="text-center">
								        <img src="/dcmlive/static/img/loader-widget.gif" style="margin-top:50px;">
									</div>
									<div data-bind="visible : !loading()" class="text-center" style="height: 330px; margin-top: 20px;">
										<div class="contentWidget">
										</div>
									</div>
								</div>
							</div>
		          		</div>
						<div class="footer-tab">
							<div class="pull-left">
								<button type="button" data-bind="click: function(){return priceBond.tab('grid')}" class="btn btn-prev">
									Return To Comp Sheet
								</button>
							</div>
							<div class="pull-right">
								<button type="button" class="pull-right btn next-term-sheet next-step">
									Send To Syndicate
								</button> 
							</div>
						</div>
		            </div>

		        </div>
		    </div>
		</div>
	</div>
</div>